.home {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.home__header  {
    width: 100vw;
}

.home__middle {
    color: yellow;

}

p {
    color: yellowgreen;
}

.qrcode{
    font-size: large;
    height: 50px;
    justify-content: center;
}
