  .sideBar {
	background: linear-gradient(180deg, #07457E 0%, rgba(0, 181, 160, 0.69) 100%);
	/* vw = viewport width = the visible portion of the web page */
	/* the width of the .sideBar element will be 25% of the viewport width, */
	width: 30vw;
	/* vh = viewport height = the visible portion of the web page */
	/* the height of the .sideBar element will be 100% of the viewport height, */
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding-left: 0%;
	padding-right: 0%; /* allow the scrollbar to not stick to the border if not set to 0 */
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
  }

/* css for the list of channels and conversations */
.alignItemsListContainer {
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1;
  }
  
  .alignItemsListContainer::-webkit-scrollbar {
	width: 0.5em;
	border: none;
  }
  
  .alignItemsListContainer::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.00);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.00);
  }
  
  .alignItemsListContainer::-webkit-scrollbar-thumb {
	background-color: #e6ebea;
	border-radius: 20px;
	border: none;
  }
  