.results-list {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-shadow: none;
	border-radius: 10px;
	margin-top: 1rem;
	max-height: 300px;
	overflow-y: auto;

	color: #07457E;
	font-family: "Helvetica", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.16em;
  }