/* Everything around the channel creation window */
.create-channel-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto; /* Add overflow property to enable scrolling */
	z-index: 2;
}

/* Channel creation window */
.create-channel-popup-inner {
	position: relative;
	width: auto;
	height: auto;
	/* padding: 0; */
	padding: 2%;
	background-color: rgb(255, 255, 255);
	/* background-color: red; */
	overflow-y: auto; /* Enable vertical scrolling for the inner container */
	/* align-items: center; */
}

/* Responsive adjustments */
@media (max-width: 768px) {
	.create-channel-popup-inner {
		width: 70%; /* Adjust the width for smaller screens */
	}
}

@media (max-width: 480px) {
	.create-channel-popup-inner {
		width: 90%; /* Adjust the width for even smaller screens */
	}
}

/* Add scrollbar styles ---------------------------------------------------------------------------------------------- */
.create-channel-popup-inner::-webkit-scrollbar {
	width: 8px; /* Adjust the width as desired */
}
.create-channel-popup-inner::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Adjust the background color as desired */
	border-radius: 4px; /* Adjust the border radius as desired */
}
.create-channel-popup-inner::-webkit-scrollbar-thumb {
	background-color: #888; /* Adjust the thumb color as desired */
	border-radius: 4px; /* Adjust the border radius as desired */
}
.create-channel-popup-inner::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Adjust the thumb color on hover as desired */
}
/* Add scrollbar styles ---------------------------------------------------------------------------------------------- */

.close-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

/* .create-channel-form { */
	/* display: flex; */
	/* flex-direction: column; */
/* } */

.create-channel-title {
	/* margin-top: 2%; */
	width:100%;
	color: #07457E;
	font-family: "Helvetica", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.16em;
}

.form-channel-type {
	margin-top: 2%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box; /* Add this line to include padding and borders in the specified width and height */
}

.create-channel-label {
	font-family: "Helvetica", sans-serif;
	color: #07457E;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 20px;
	letter-spacing: 0.16em;
}

/* .inputForm {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	height: 100%;
	font-size: 1.3rem;
	font-family: "Helvetica", sans-serif;
	color: #07457E;
	width: 100%;
	margin-left: 5px;
	margin-right: 0px;
}

.input:focus {
	outline: none;
  } */